#adminmenu #toplevel_page_nggdate div.wp-menu-image{	background: transparent url('../images/nextgen_16_grey.png') no-repeat scroll 6px 6px;
}
#adminmenu #toplevel_page_nggdate:hover div.wp-menu-image,
#adminmenu #toplevel_page_nggdate.wp-has-current-submenu div.wp-menu-image,
#adminmenu #toplevel_page_nggdate.current div.wp-menu-image{	background: transparent url('../images/nextgen_16_color.png') no-repeat scroll 6px 6px;
}
#icon-nggdate{	background:url("../images/nextgen_32_grey.png") no-repeat scroll 1px 1px transparent;
}